<div id="main">
    <span>Main Component</span><br>
    <p class="text">Very smooth on the palate with a creamy carbonation buildup, seltzery feel and tonic-water bite. This is followed by
        a quick and sharp tannic tartness that oddly lingers in the background and into the finish. Layered on top of this
        is something quite sweet, but not cloying, with a rosewater-like base, notes of strawberries, faint berry-like sourness,
        white grapes, orange pith, floral honey, over-ripe peach meat, pear juice, hints of mint, and a cutting peppery edge
        that segues into a somewhat-spicy and increasingly warming booziness, thanks to its 8 percent alcohol by volume.</p>
    <p class="text">Pleasingly herbal, akin to sweetened cold Chinese tea. Light tannins linger in the bone-dry, powdery finish. A rich-looking,
        deep-copper-hued beer, leaning toward the dark side, with an off-white foam head that drops to a fine ringed lace.
        Aroma is unique. Uniquely British, with a suggestion of dryness, metallic hints, prominent nutty malt character,
        interesting orchard-esque notes, deep caramel beneath, toasty and soft powdery spices.</p>
    <p class="text"> Lively in the mouth, with a slightly crisp carbonation that peaks and provides some creaminess. Medium, even-bodied,
        with a round fullness about it. Quite dry up front, with slightly abrasive raw, leafy and pithy characters mixed
        with some tamed hop bitterness. Wood and earth? Yeah, a bit. Some fruity and berry-like tartness, reminiscent of
        holiday pie fillings and plump, juicy, almost over-ripe black cherries. Definite apple flavors follow fruit, as well
        as juicy pear. Robust and heart as far as beers go.</p>
</div>